*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 150px;
}
.navbar{
    background-image: url(assets/img/banniere.jpg);  
}

body {
    background-image: url(/assets/img/centre.png);
    background-size: cover;
    background-position: center;
}
footer{
    background-image: url(assets/img/banniere.jpg);
}

#carouselExampleSlidesOnly {
    border-radius: 10px;
}

section{
    padding-top: 50px;
}
button .btn .btn-bg{
    background: linear-gradient(rgb(22, 149, 240), pink); 
}