* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/battle/img/arene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1,
.choixjoueur {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 143px;
}

.choixrobot {
    margin-top: 143px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: -42px;
}

.choixjoueur img {
    cursor: pointer;
}

.h1,
.score{
    font-size: 40px;
}
.resultat{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}